<div class="jumbotron">
    <h1>GESCOM</h1>
    <p class="lead">A sua ferramenta para administrar suas comissões.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Administre</h2>
        <p>Tenha uma visão ampla e geral dos seus comissionamentos / Agenciamentos</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Organize</h2>
        <p>Organize de forma rápida e práticas todos os seus comissionamentos / Agenciamentos.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Evolua</h2>
        <p>Passe para um outro nível as finanças de sua empresa.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
